html {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

h1 {
  font-family: Megrim, monospace;
  font-size: xx-large;
  color: red;
  position: fixed;
  bottom: .5rem;
  left: .5rem;
  width: fit-content;
  margin: 0;
}

.gameboard {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 90vmin;
  height: 90vmin;
  margin: 0;
}

.gamespace {
  --grid-border: 1px solid red;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 5rem Megrim, monospace;
}

#space0 {
  border-bottom: var(--grid-border);
  border-right: var(--grid-border);
}

#space1 {
  border: var(--grid-border);
  border-top: 0;
}

#space2 {
  border-bottom: var(--grid-border);
  border-left: var(--grid-border);
}

#space3 {
  border: var(--grid-border);
  border-left: 0;
}

#space4 {
  border: var(--grid-border);
}

#space6 {
  border-right: var(--grid-border);
  border-top: var(--grid-border);
}

#space5 {
  border: var(--grid-border);
  border-right: 0;
}

#space7 {
  border: var(--grid-border);
  border-bottom: 0;
}

#space8 {
  border-left: var(--grid-border);
  border-top: var(--grid-border);
}
